.imagenimgOrden {
  background-color: darkgray;
  position: absolute;
  max-width:min-content;
  overflow: hidden;
  height: 900px;
  background-repeat: repeat-y;
}

.productsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  word-wrap: wrap;
  margin: 50px;
  padding: 20px;
  overflow: hidden;
  position: relative;
  background-color: rgb(155, 150, 150);
  font-size: 20px;
  border-bottom: black solid 1px;
  border: black solid 1px;
  color: black;
opacity:.95;
}


.pedidos {
  border-top: black solid 1px;
  align-items: center;
}



.containerOrden {
  overflow: hidden;
  max-height: 100%;
}

.titleOrder {
  position: relative;
  font-size: 30px;
  color: black;
  
  margin-left: 40%;
  margin-top: 10px;
  background-color: darkgray;
  opacity:.95;
  padding: 5px;
}


.btnOrders {
  position: relative;
  color: #523e27;
  font-size: 16px;
  margin-left: 650px;
  margin-top: 20px;
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(190, 175, 186);
  max-height: 40px;
}

.btnOrders:hover {
  color: #523e27;
  background-color: #464544;
  color: whitesmoke;
  border-radius: 5px;
  transition: 0.5s;
  border-bottom: #523e27 solid 1px;
  border-right: #523e27 solid 1px;
}

@media screen and (max-width: 600px) {
  .imagenimgOrden {
    display: none;
  }
  .containerOrden {
    position: absolute;
    opacity: 1;
    height: 900px;
  }
  .encabezados {
    margin-left: 10px;
    margin-right: 10px;
  }
  .btnOrders {
    margin-left: 180px;
  }
}
