.imagenimgOrden {
    background-color: darkgray;
    position: absolute;
}
.infoverorden{
    font-size: 26px;
    color:white;
    position: relative;
    padding-left: 1100px;
}

/*.containerOrden{

}
*/