.detailContainer {
  color: #e8cfc1;
  background-image: linear-gradient(
    to bottom right,
    rgb(70, 69, 69),
    rgb(184, 177, 160)
  );
  height: 600px;
}
.btnDetails {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  height: 50px;
  color: #523c27;

  margin-top: 50px;
}

.detailButtons {
  border-radius: 5px;
  font-size: 20px;
  height: 50px;
  color: #523c27;
}

.detailButtons:hover {
  background-color: #e8cfc1;
  box-shadow: 6px 7px 8px -6px #e8cfc1;
  background-color: rgb(70, 69, 69);
  color: white;
}

.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.titleDet {
  text-align: center;
  left: 50%;
}

.description {
  text-align: center;
  width: 300px;
}

.extraInfo {
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.detailImage {
  height: 300px;
  border-radius: 5px;
}
