.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 2px 2px #e8cfc1;
  overflow: hidden;
  margin-top: 30px;
  margin: 8px;
  padding: 5px;
  text-align: center;
  transition: all 0.25s;

  color: #523c27;
  height: 650px;
}

.card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px #e8cfc1;
  background-color: beige;
}

.container .card h3 {
  font-weight: 900;
}

.container .card p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 700;
}

.image {
  height: 200px;
}
