.imageHome {
  height: 540px;
  width: 100%;
  border-bottom: white solid 1px;
}

.animatedParagraph {
  color: #523e27;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-top: #523e27 solid 1px;
}

.containerBody {
  height: 800px;
  width: 100%;
  color: white;
 
}

.pinkBar {
  width: 100%;
  background-color: #e8cfc1;
  height: 20px;
  border: white solid 1px;
}

.filters {
  display: flex;
  justify-content: space-around;
  height: 20px;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

select {
  height: 40px;
  width: 180px;
  background-color: #e8cfc1;
  border-radius: 5px;
  color: #523e27;
}

.labelHome {
  color: #e8cfc1;
}


.numberPag{
  padding: 20px;
}

@media screen and (max-width: 600px) {
  .imageHome{
  display: none;
  background-color: #e8cfc1;
   
  }
  .pinkBar{
    background-color: #523e27;
    height: 50px;
  }

  .animatedParagraph{
    top: 5%;
    left: 40%;
    font-size: 24px;
    color: #e8cfc1
  }

  .filters{
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 10px;
  }
.labelHome{
  height: 60px;
  margin: 10px;
}

}
