.searchBar{
  height: 0;
  width: 180px;
  background-color: #e8cfc1;
  border-radius: 8px;
  color: #523e27; 
  margin-right: 5px;
}

.buttonSess {

  border-radius: 5px;
  height: 35px;
  margin-top: 10px;
  width: 170px;
  background-color: #e8cfc1;
 
}