.CKOContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: rgb(151, 113, 163) solid 1px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 3px;
}

.title {
  text-align: center;
}

.cartItems {
  display: block;
}

.totyBtnCont {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.totandBut {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
  color: #523e27;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  text-decoration: none;
  padding: 10px;

  border-radius: 5px;
  background-color: rgb(190, 175, 186);
  max-height: 40px;
}

.totandBut:hover {
  color: #523e27;
  background-color: #464544;
  color: whitesmoke;
  border-radius: 5px;
  transition: 0.5s;
  border-bottom: #523e27 solid 1px;
  border-right: #523e27 solid 1px;
}

@media screen and (max-width: 600px) {
  .CKOContainer {
    flex-direction: column;
  }
  .infoUsuario {
    text-align: center;
  }
  .totyBtnCont {
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
  }
  .totandBut {
    padding: 30px;
  }
}
