.containerAbout {
  color: black;
  background-image: linear-gradient(to bottom right, rgb(243, 220, 245), #523e);
  text-align: center;
  color: black;
  padding-top: 20px;
  padding-left: 10px;
}

.members {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 50px;
  margin-left: 10px;
  margin-right: 20px;
}

h3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.para {
  border: black solid 1px;
  border-radius: 5px;
  margin: 20px;
}

.backBtn {
  border-radius: 5px;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  background-color: #e8cfc1;
}

@media screen and (max-width: 600px) {
  .members {
    grid-template-columns: repeat(1, 1fr);
  }
  .containerAbout {
    background-image: linear-gradient(white white);
    width: 410px;
  }
}
