.containerAbout {
  color: black;
  background-color: #e8cfc1;
  text-align: center;
}

.members {
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
}

h3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.para {
  border: black solid 1px;
  border-radius: 5px;
  margin: 5px;
}

.backBtn{
    border-radius: 5px;
    height: 35px;
    margin-top: 10px;
    width:60px;
}
