.containerAbout {
  color: black;
  background-color: #523e;
  text-align: center;
  color: #e8cfc1;
}

.members {
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

h3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.para {
  border: black solid 1px;
  border-radius: 5px;
  margin: 5px;
}

.backBtn {
  border-radius: 5px;
  height: 35px;
  margin-top: 10px;
  width: 60px;
}
