.pagoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 200px;
}

.pagoGracias{
    text-align: center;
}

.pagosButton{
 
    color: #523e27;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background-color:  rgb(190, 175, 186);;
    max-height: 40px;
}

.pagosButton:hover {
    color: #523e27;
    background-color: #464544;
    color: whitesmoke;
    border-radius: 5px;
    transition: 0.5s;
    border-bottom: #523e27 solid 1px;
    border-right: #523e27 solid 1px;
  }
  