/* body{
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(182, 105, 245));
} */

/* background-color: rgb(140,38,51,.98); */
.image {
  height: 66px;
  width: 66px;
  border-radius: 5px;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  border: white solid 1px;
  background-image: linear-gradient(
    to right,
    rgb(95, 50, 82),
    rgba(128, 46, 114, 0)
  );
  color: #523e27;
}

.navButton {
  border: none;
  background: none;
  color: #523e27;
  font-size: 20px;
  margin-left: 1rem;
  cursor: pointer;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}
.navButton:hover {
  color: #523e27;
  background-color: transparent;
  border-radius: 5px;
  transition: 0.5s;
  border-bottom: #523e27 solid 1px;
  border-right: #523e27 solid 1px;
}
@media screen and (max-width: 600px) {
  .navButton {
    font-size: 14px;
    color: black;
    /* margin: 0;
  padding: 0; */
  }

  .image {
    display: none;
  }

  .navButtonHola {
    display: none;
  }
  .navContainer {
    width: 390px;
    color: black;
    background-color:white;
    background-image: none;
    border: none;
  }
  .navAuth {
    width: 0;
    height: 0;
  }
}

@media screen and (max-width: 420px) {
  .navContainer {
    width: 380px;
    color: black;
    padding-left: 0%;
    padding-right: 15px;
    
  }
}
